* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: darkgray;
}


main {
    text-align: center;
    /* position: relative; */
}

h2 {
    background-color: rgb(98, 98, 98);
    color: white;
    line-height: 75px;
}

form {
    /* border-style: solid; */
    display: flex;
    flex-direction: column;
}

label {
    /* border-style: solid; */
    height: 60px;
    position: relative;
    left: 10%;
    margin-top: 10px;
    width: 80%;
}

.search {
    border-radius: 5px;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    height: 50px;
    width: 50%;
}

.author, .title {
    background-color: rgb(219, 219, 219);
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    position: relative;
    left: 25%;
    text-align: left;
    width: 50%;
}

span {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    margin-left: 20px;
    margin-right: 20px;
}

.submit {
    /* border-style: solid; */
    position: relative;
    left: 10%;
    width: 80%;
}

.submit input {
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    height: 50px;
    width: 50%;
}

footer {
    float: left;
}